body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    margin: 0;
}

header {
    position: fixed;
    height: 69px;
    width: 100%;
    display: flex;
    border-bottom: 1px solid seashell;
    align-items: center;
    z-index: 1;
    background-color: black;
}

header .logo {
    display: flex;
    flex-grow: 1;
}

.logo img {
    display: flex;
    height: 50px;
    padding-left: 10px;
}

header nav {
    display: flex;
    justify-content: space-around;
    text-decoration: underline;
}

nav a {
    display: inline-block;
    padding: 20px 15px;
    text-decoration: underline;
    color: white;
}

.content {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
}

.container {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto auto;
}

.mission.container {
    background-image: url("../img-mission-background.jpg");
    height: 700px;
    width: 1200px;
}

.mission.container .subtitle {
    display: inline-block;
    background: black;
    width: 1200px;
}

.mission.container .subtitle h2 {
    margin-top: 10px;
}

.mission.container .subtitle h4 {
    margin-bottom: 10px;
}

.month.container {
    height: 700px;
    width: 1000px;
    display: inline-block;
}

.tea-sample {
    padding: 0 15px;
}

.tea-sample img {
    height: 200px;
    width: 300px;
}

.tea-display {
    flex-direction: row;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tea-display h4 {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.location.container {
    background-image: url("../img-locations-background.jpg");
    height: 500px;
    width: 1200px;
    flex-direction: column;
    padding-top: 70px;
    justify-content: flex-start;
}

.location.container h2 {
    margin-bottom: 15px;
    margin-top: 0;
}

.address {
    margin: 0 auto;
}

.address-box {
    display: inline-block;
    background: black;
    width: 300px;
    margin: 0 20px;
    opacity: 1;
    align-items: center;
}

.address-box h3,
p {
    display: block;
    margin-bottom: 40px;
}

.contact {
    height: 200px;
}

.copyright {
    text-align: left;
    padding-left: 20px;
}